.menu-navegacao{
    width: 80%;
    margin: auto;
}
  
  
    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
     }
  


 li {
     padding: 20px;

    }


    h1, p {
        text-align: center;
        color:rgba(175, 71, 23, 0.836)
    }

    body {
        background-color: #E6E6E6;
        margin: 150px;
    }


.container-sapatos {
    display: flex;
    background-color:#E6E6E6;
    flex-direction: row;
    padding: 20px;
    height: 400px;

}  


.container-cintos {
    display: flex;
    background-color:#E6E6E6;
    flex-direction: row;
    justify-content: space-around;  
    padding: 20px;
    height: 400px;
    text-align: justify;

} 

div h2{
    color:navy;
    text-align:inherit;
}




