.menu-navegacao{
    width: 80%;
    margin: auto;
}
  
  
    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
     }
  


 li {
     padding: 20px;

    }


    h1,  {
        text-align: center;
        color: #000000  
    }

    body {
        background-color: #E6E6E6;
        margin: 150px;
    }


.container-sapatos {
    display: flex;
    background-color:#E6E6E6;
    flex-direction: row;
    padding: 20px;
    height: 400px;

}  


.container-cintos {
    display: flex;
    background-color:#E6E6E6;
    flex-direction: row;
    justify-content: space-around;  
    padding: 20px;
    height: 700px;
    text-align: justify;

} 

div h2{
    color:rgb(0, 0, 0);
    text-align:inherit;
}



nav a:hover{ 
    color: #ffff
    
    
}
 
p {
    color: black;
}



.container-sapatos-prada {
    display: flex;
    background-color:#E6E6E6;
    flex-direction: row;
    justify-content: space-around;  
    padding: 20px;
    height: 400px;
    text-align: justify;
}