.menu-navegacao{
    width: 80%;
    margin: auto;
}
  
  
    ul {
      display: flex;
      justify-content: space-evenly;
     }
  


 li {
     padding: 20px;

    }


    h1, p {
        text-align: center;
        color:rgba(175, 71, 23, 0.836)
    }

    body {
        background-color:wheat;
    }
